# 202260327 - .gitignore

bin/
obj/

# Build artifacts
[Bb]in/
[Oo]bj/

# User-specific files
.vs/
*.user
*.suo

# Rider / JetBrains
.idea/

# VS Code local settings
.vscode/
src/Pstg.Domain/obj/Debug/net10.0/Pstg.Domain.AssemblyInfo.cs
src/Pstg.Domain/obj/Debug/net10.0/Pstg.Domain.AssemblyInfoInputs.cache
